@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url("../fonts/Inter-VariableFont_opsz,wght.ttf");
    font-style: normal;
}

@font-face {
    font-family: "TS Remarkered";
    src: local("TS Remarkered"),
        url("../fonts/Vitaliy\ Tsygankov\ -\ TS\ Remarker\ Regular\ 2.otf");
    font-style: normal;
}